<div class="banner">

</div>


<div class="container">
    <h1> Sobre Nós</h1>
    <body>
        <main class="cards">
            <section class="card contact">
                <h3>Sobre Nós</h3>
                <span>Fundada em 1991, no aprazível bairro do Itanhangá, a Animália é uma das clínicas
                    veterinárias mais tradicionais
                    do Rio de Janeiro. Sob a responsabilidade técnica da atual equipe desde 1993 e pautada pela excelência
                    na prestação de serviços veterinários, foi pioneira na implantação do atendimento especializado em
                    clínicas
                    no
                    Estado ao iniciar, em 1996, os serviços de dermatologia, cardiologia e oftalmologia.</span>
                <button></button>
            </section>

            <section class="card shop">
                <div class="icon">
                </div>
                <h3>Sobre Nós</h3>
                <span>Continuando a crescer e visando oferecer o máximo de conforto e segurança aos seus
                    clientes foi implementado, em
                    janeiro de 2001, o plantão veterinário 24 horas, (inclusive aos domingos e feriados).</span>
                <button></button>
            </section>

            <section class="card about">
                <div class="icon">
                </div>
                <h3>Sobre Nós</h3>
                <span>Em 2010, para atender a demanda de atendimentos nos setores de cirurgia e ortopedia,
                    foi
                    iniciado o processo de
                    expansão física da clínica com a locação de outro imóvel para instalação de moderno centro cirúrgico e
                    implementação do serviço de fisioterapia e reabilitação física.</span>
                <button></button>
            </section>
        </main>
    </body>



</div>