 <div class="container">
   
    <section id="contato">
        <div class="box-formulario">
          <div class="formulario">
            <div class="title-form">
              <h1>Agende sua Consulta</h1>
            </div>
    
            <form action="#" method="post">
              <span>
                <input
                  type="text"
                  class="input-balao-up"
                  id="nome"
                  name="nome"
                  placeholder="Nome do Dono:"
                  autocomplete="off"
                  required=""
                />
                <label for="nome">
                  <i class="icon icon-user-outline"></i>
                </label>
              </span>
    
              <span>
                <input
                  type="text"
                  class="input-balao-up"
                  id="Raça do Pet"
                  name="Raça do Pet"
                  placeholder="Raça do Pet:"
                  autocomplete="off"
                  required=""
                />
                <label for="raça">
                  <i class="icon icon-mail-3"></i>
                </label>
              </span>

              <span>
                <input
                  type="text"
                  class="input-balao-up"
                  id="Tipo de Consulta"
                  name="Tipo de Consulta"
                  placeholder="Tipo de Consulta:"
                  autocomplete="off"
                  required=""
                />
                <label for="raça">
                  <i class="icon icon-mail-3"></i>
                </label>
              </span>
    
              <span>
                <input
                  type="date"
                  class="input-balao-up"
                  id="cliData"
                  name="Data"
                  placeholder="Data:"
                  autocomplete="off"
                  required=""
                />
                <label for="cliData">
                  <i class="icon icon-info"></i>
                </label>
              </span>

              <span>
                <input
                  type=""
                  class="input-balao-up"
                  id="cliData"
                  name="Data"
                  placeholder="Horário:"
                  autocomplete="off"
                  required=""
                />
                <label for="cliData">
                  <i class="icon icon-info"></i>
                </label>
              </span>
    
              <div class="box-btn">
                <button type="submit" class="btn-envia zoom-shadow">
                  <i class="icon icon-forward-1"> Enviar</i>
                </button>
              </div>
            </form>
          </div>
        </div>
        <!--Box Formulario-->
        <!--Fim Container Contatot-->
      </section>
      <!--Fim Contato-->
    </div>
